<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Doctor</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header('')" />
    <h3>Add doctor</h3>
    <hr>
    <p class="h4 mb-4">If you want to save a new doctor, fill the field below</p>
    <form action="#" th:action ="@{/doctors/addDoctor}" th:object= "${doctor}" method="POST">
        <input type="hidden" th:field="*{doctorId}"/>

        <div class="form-group">
            <input type="text" th:field="*{doctorName}" placeholder="Doctor name" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('doctorName')}" th:errors="*{doctorName}">
            </div>
        </div>
        <br>
        <button type="submit" >Save</button>
    </form>
    <hr>
    <a th:href="@{/doctors}">Back to doctor's list</a>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>

</html>