<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Edit Doctor</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header('')" />
    <h3>Edit doctor</h3>
    <hr>
    <p class="h4 mb-4">If you want to edit a doctor name, fill the field below</p>
<!--    <form action="#" th:action ="@{/doctors/addDoctor}" th:object= "${doctor}" method="POST">
        <input type="hidden" th:field="*{doctorId}"/>

        <div class="form-group">
            <input type="text" th:field="*{doctorName}" placeholder="Doctor name" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('doctorName')}" th:errors="*{doctorName}">
            </div>
        </div>

        &lt;!&ndash; Pet name<input type="text" name="petName" placeholder="Pet name">&ndash;&gt;
        <br>

        <button type="submit" >Save</button>
    </form>-->
    <hr>
    <a th:href="@{/clients}">Back to client's list</a>


    <form action="#" th:action="@{/clients/addClientForDoctor}" method="GET">
        <input type="hidden" name="doctorId" th:value="${doctor.doctorId}"/>
        <button type="submit" class="btn btn-primary btn-sm mb-3">Add</button>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>

            <th>Doctor name</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="client : ${doctor.getClientsList()}">


            <td th:text="${client.getName()}" />


            <td>
                <div class="row">
                    <div class="col-small">
                        <form action="#" th:action="@{/clients/showFormForClientUpdate}" method="post">
                            <input type="hidden" name="id" th:value="${client.id}"/>
                            <input type="hidden" name="doctorId" th:value="${doctor.doctorId}"/>
                            <button type="submit" class="btn btn-info btn-sm">Edit</button>
                        </form>
                    </div>
                    <div class="col-small">
                        <form action="#" th:action="@{/clients/deleteClient}" method="post">
                            <input type="hidden" name="id" th:value="${client.id}"/>
                            <input type="hidden" name="doctorId" th:value="${doctor.doctorId}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this client?'))) return false">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>

</html>